.ltr{
  text-align: left;
  direction: ltr;
}

.rtl{
  text-align: right;
  direction: rtl;
}

.rotate-y-180{
  transform: rotateY(180deg);
}
.content-container{
  img{
    max-width: 100%;

  }
  h1{

  }
}
